@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Phạm Quang Nhất
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0817842585
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cuongyd196@gmail.com">phamquangnhatdz2105@gmail.com</a><br />
</address>