@model PhạmQuangNhất_2210900115_Project2.Models.KHACH_HANG

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "PQN_KHACH_HANG", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Tai_khoan">Username</label>
        @Html.TextBox("Tai_khoan", null, new { @class = "form-control", placeholder = "Enter username" })
    </div>
    <div class="form-group">
        <label for="Mat_khau">Password</label>
        @Html.Password("Mat_khau", null, new { @class = "form-control", placeholder = "Enter password" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @Html.ValidationSummary(true)
        </div>
    }
}
